.navigation {
  background-color: var(--main-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.leftControls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.settingsBtn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
}

.navList {
  list-style: none;
  display: flex;
  padding: 0;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: var(--text-color);

  li {
    margin: 0 10px;
    font-weight: bold;
  }

  .lang {
    color: var(--text-color);
    margin-left: 200px;
  }
}

.userBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-weight: bold;
  color: var(--text-color);
}

.logoutBtn {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--text-color);
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;

  &.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    height: 4px;
    width: 0;
    background-color: black;
    transform: translateX(-50%);
    animation: underlineGrow 0.4s forwards;
  }
}

@keyframes underlineGrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.burger {
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;

  span {
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 2px;
    transition: 0.3s ease;
    transform-origin: center;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg) translateY(8px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translateY(-8px);
    }
  }
}

.registerButton {
  padding: 10px;
  background-color: #f0f4f8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: var(--text-color-on-white);

  &:hover {
    background-color: #e0e6ed;
    transform: scale(1.05);
  }
}
