.car-details-wrapper {
  position: relative;
  overflow: hidden;
  color: var(--text-color);
}

.loading-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  animation: slideDown 1s ease forwards;
  z-index: 9999;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}


.content-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content-wrapper.show {
  opacity: 1;
  transform: translateY(0);
}

.content-wrapper.hide {
  pointer-events: none;
}

/* решта твого стилю нижче */
.details {
  display: flex;
  gap: 20px;
  padding: 20px;
  font-family: sans-serif;
  color: var(--text-color);
}

.details-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 130px;
  box-sizing: border-box;
  border-bottom: 4px solid var(--main-color);
  color: var(--text-color);
}

.follow-button {
  padding: 8px 20px;
  border: 3px solid var(--main-color);
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--text-color);
}

.follow-button:hover {
  background-color: #d6a900;
}

.details-title p {
  font-size: 25px;
  color: var(--text-color);
}

.left-section {
  flex: 2;
  color: var(--text-color);
}

.right-section {
  flex: 1;
  color: var(--text-color);
}
