.page {
    background-color: var(--background);
    padding: 20px;
    font-family: sans-serif;
    color: var(--text-color);
  }
  
  .filter {
    background-color: var(--background);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    color: var(--text-color-on-white);
  }
  
  .filter h3 {
    margin-bottom: 10px;
  }
  
  .filter textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: var(--text-color-on-white);
  }
  
  .filter button {
    padding: 6px 20px;
    background-color: gold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .recommendations-header {
    background-color: var(--main-color);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--text-color-on-white);
    background-color: var(--background);
  }
  